[Unit]
Description=Office Soundbox service to play random sound on button press
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u ~/the_office_soundbox.py
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
